@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

body {
  background-color: #1f1147;
}

a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
